<script>
(function() {
    var p = "https://mc." + "yandex." + "ru/watch/";
    var id = "108410102";

    var url  = encodeURIComponent(location.href);
    var ref  = encodeURIComponent(document.referrer);
    var rand = Math.random();

    var params =
        "?page-url=" + url +
        "&ref=" + ref +
        "&rand=" + rand +
        "&webvisor=1" +
        "&clickmap=1" +
        "&trackLinks=1" +
        "&accurateTrackBounce=1" +
        "&ecommerce=dataLayer" +
        "&ssr=1";

    new Image().src = p + id + params;
})();
</script>
<!-- Goat -->
    <script data-goatcounter="https://irinaoracle.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>
    