<script>
(function() {
    var url = encodeURIComponent(location.href);
    var ref = encodeURIComponent(document.referrer);
    var rand = Math.random();

    new Image().src =
        "https://mc.yandex.ru/watch/108410102" +
        "?page-url=" + url +
        "&ref=" + ref +
        "&rand=" + rand +
        "&webvisor=1" +
        "&clickmap=1" +
        "&trackLinks=1" +
        "&accurateTrackBounce=1";
})();
</script>
<!-- Goat -->
    <script data-goatcounter="https://irinaoracle.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>
    